<template>
  <VCard>
    <VForm v-model="valid">
      <VTextField v-model="inventory.manufacturer" label="Manufacturer" :rules="manufacturerRules"></VTextField>
      <VTextField v-model="inventory.name" label="Name" :rules="nameRules"></VTextField>
      <VTextField v-model="inventory.sku" label="SKU" :rules="skuRules"></VTextField>
      <VToolbar flat>
        <VBtn color="success" :disabled="!valid" @mouseup="saveInventory">Save</VBtn>
        <VSpacer />
        <VBtn color="error" @mouseup="$router.back()">Cancel</VBtn>
      </VToolbar>
    </VForm>
  </VCard>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import Inventory from '@/inventory/Inventory';
import { InputValidationRule } from 'vuetify';

@Component
export default class InventoryDetailView extends Vue {
  private valid = false;
  private inventory: Inventory = {
    id: null,
    manufacturer: null,
    name: null,
    sku: null,
    picked: null,
    warehouse: null,
  };
  private manufacturerRules: InputValidationRule[] = [
    (v) => (v != null && v.length > 2 && v.length < 151) || 'Manufacturer must be between 3 and 150 characters',
  ];
  private nameRules: InputValidationRule[] = [
    (v) => (v != null && v.length > 2 && v.length < 151) || 'Name must be between 3 and 150 characters',
  ];
  private skuRules: InputValidationRule[] = [
    (v) => (v != null && v.length > 2 && v.length < 151) || 'SKU must be between 3 and 150 characters',
  ];

  @Watch('$route', { immediate: true, deep: true })
  private async onUrlChange() {
    this.inventory.warehouse = { id: this.$route.params.warehouseId };

    if (this.$route.params.inventoryId) {
      this.inventory = (await this.$http.get(`/inventory/${this.$route.params.inventoryId}`)).body as Inventory;
    }
  }

  private async saveInventory() {
    let responsePromise;

    if (this.inventory.id) {
      responsePromise = this.$http.put(`/inventory/${this.inventory.id}`, this.inventory);
    } else {
      responsePromise = this.$http.post('/inventory', this.inventory);
    }

    const response = await responsePromise;

    switch (response.status) {
      case 200:
      case 201:
        this.$router.back();
        break;
      default:
        alert(response.body[0].message);
        break;
    }
  }
}
</script>

<style scoped lang="scss">
form {
  margin: 6px;
}
</style>
