<template>
  <VNavigationDrawer app>
    <VList dense>
      <VListItem
        link
        v-for="warehouse in warehouses"
        :input-value="warehouse.id"
        :key="warehouse.id"
        :to="{ name: 'warehouseInventory', params: { warehouseId: warehouse.id } }"
      >
        <VListItemContent>
          <VListItemTitle>{{ warehouse.location }}</VListItemTitle>
        </VListItemContent>
      </VListItem>
    </VList>
  </VNavigationDrawer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Warehouse } from '@/warehouse/Warehouse';

@Component
export default class WarehouseNavigator extends Vue {
  private warehouses: Warehouse[] = [];

  private async mounted() {
    this.warehouses = (await this.$http.get('/warehouse')).body.elements as Warehouse[];
  }
}
</script>

<style scoped lang="scss"></style>
