<template>
  <VDataTable
    :headers="headers"
    :items="inventory.elements"
    :server-items-length="inventory.totalElements"
    :loading="loading"
    :options.sync="dataOptions"
    :footer-props="{ 'items-per-page-options': [5, 10, 15] }"
    @update:items-per-page="updateData"
    @update:page="updateData"
    @pagination="updateData"
  >
    <template v-slot:top>
      <VToolbar flat>
        <VToolbarTitle>Inventory for Warehouse: {{ warehouse ? warehouse.location : '' }}</VToolbarTitle>
        <VSpacer />
        <VBtn color="primary" dark class="mb-2" :to="{ name: 'warehouseInventoryCreate' }">New Inventory Piece</VBtn>
      </VToolbar>
    </template>
    <template v-slot:item.picked="{ item }">
      <v-simple-checkbox v-model="item.picked" @input="updatePicked(item)" v-ripple></v-simple-checkbox>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </VDataTable>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';
import { uuidv1 } from '@/domain/Identifiable';
import Inventory from '@/inventory/Inventory';
import { Warehouse } from '@/warehouse/Warehouse';
import { DataOptions, DataTableHeader } from 'vuetify';
import Page, { emptyPage, toPageRequest } from '@/domain/Page';

@Component
export default class WarehouseInventoryView extends Vue {
  private warehouseId: uuidv1 = '';
  private warehouse: Warehouse | null = null;
  private inventory: Page<Inventory> = emptyPage;
  private dataOptions: DataOptions = {
    groupBy: [],
    groupDesc: [],
    itemsPerPage: 10,
    multiSort: false,
    mustSort: true,
    page: 1,
    sortBy: ['id'],
    sortDesc: [],
  };
  private headers: DataTableHeader[] = [
    {
      text: 'Manufacturer',
      value: 'manufacturer',
    },
    {
      text: 'SKU',
      value: 'sku',
    },
    {
      text: 'Name',
      value: 'name',
    },
    {
      text: 'ID',
      value: 'id',
    },
    {
      text: 'Picked',
      value: 'picked',
    },
    {
      text: 'Actions',
      value: 'actions',
      sortable: false,
    },
  ];

  private updatePicked(item: Inventory) {
    this.$http.put(`/inventory/${item.id}`, item);
  }

  @Watch('$route', { immediate: true, deep: true })
  private async onUrlChange() {
    this.warehouseId = this.$route.params.warehouseId;

    const warehousePromise = this.$http.get(`/warehouse/${this.warehouseId}`);
    const inventoryPromise = this.$http.get(
      `/inventory/warehouse/${this.warehouseId}`,
      toPageRequest(this.dataOptions),
    );

    this.warehouse = (await warehousePromise).body as Warehouse;
    this.inventory = (await inventoryPromise).body as Page<Inventory>;
  }

  private async updateData() {
    this.inventory = (await this.$http.get(`/inventory/warehouse/${this.warehouseId}`, toPageRequest(this.dataOptions)))
      .body as Page<Inventory>;
  }

  private editItem(item: Inventory) {
    this.$router.push(`inventory/${item.id}`);
  }

  private async deleteItem(item: Inventory) {
    console.log(item);
  }

  get loading(): boolean {
    return this.$store.state.ajaxState.runningRequests > 0;
  }
}
</script>

<style scoped></style>
