<template>
  <VApp id="inspire">
    <WarehouseNavigator />
    <VMain>
      <router-view></router-view>
    </VMain>
  </VApp>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WarehouseNavigator from '@/warehouse/component/WarehouseNavigator.vue';
import WarehouseView from '@/warehouse/view/WarehouseInventoryView.vue';

@Component({
  components: { WarehouseView, WarehouseNavigator },
})
export default class App extends Vue {}
</script>
